$blue: #3790DC;
$light-blue: #36AFE8;

// D3

text {
    fill: $blue;
    font-weight: 500;
}

.tick text {
    fill: #333;
    font-weight: 600;
}

path {
    stroke: #fff;
}

path:hover {
    opacity: 0.9;
}

.bar:hover {
    rect,
    text {
        fill: $light-blue;
    }
}
 
.axis {
    font: 10px sans-serif;
 }
 
.legend tr {
    border-bottom: 1px solid grey;
}

.legend tr:first-child {
    border-top: 1px solid grey;
}

.axis path,
.axis line {
  fill: none;
  stroke: #333;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.legend {
    margin-bottom: 76px;
    display: inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
}

.legend td {
    padding: 4px 5px;
    vertical-align: bottom;
}

.legendFreq, .legendPerc {
    align: right;
    width: 50px;
}

// End D3

// Global

body {
    margin-top: 100px;
}

body, input {
    font: 14px Helvetica Neue, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #333;
}

#container {
    width: 960px;
    margin: 0 auto;
}

form {
    input[type="text"] {
        border: 2px solid #ddd;
        font-weight: 500;
        padding: 5px;
        
        &:focus {
            border-color: #ccc;
            outline: none;
        }
    }
}

#graph,
#committees {
    display: inline-block;
    vertical-align: top;
}

#committees {
    padding: 0 20px;
    width: 100px;
    height: 200px;
    
    ul {
        color: #999;
        list-style-type: none;
        margin: 0;
        padding: 0;
        
        li {
            font-weight: 500;
            padding: 5px 0;
        }
        
        p {
            font-size: 14px;
            font-style: italic;
            line-height: 20px;
        }
    }
}